<ion-content>
  <div class="flex-center">
    <form [formGroup]="form" (ngSubmit)="login()">
      <ion-card>
        <ion-card-header>
          <ion-card-title color="success" class="center-text title">Recilica App</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          <!-- Input for Email -->
          <ion-item>
            <ion-label position="floating">Email</ion-label>
            <ion-input id="email" type="email" formControlName="email"></ion-input>
          </ion-item>

          <!-- Error Messages for Email -->
          <app-error-message
            [field]="form.get('email')"
            error="required"
            message="Email is mandatory"
          ></app-error-message>
          <app-error-message
            [field]="form.get('email')"
            error="email"
            message="Wrong email address"
          ></app-error-message>

          <!-- Input for Password -->
          <ion-item>
            <ion-label position="floating">Password</ion-label>
            <ion-input
              id="password"
              type="password"
              formControlName="password"
            ></ion-input>
          </ion-item>
          <app-error-message
            [field]="form.get('password')"
            error="required"
            message="Password is mandatory"
          ></app-error-message>

          <!-- Login Button -->
          <ion-button expand="full" type="submit" [disabled]="!form.valid">
            LOGIN
          </ion-button>

          <!-- Register Button -->
          <ion-button expand="full" type="button" href="/register">
            REGISTER
          </ion-button>

          <!-- Forgot Button -->
          <ion-button
            color="dark"
            fill="clear"
            expand="full"
            type="button"
            [disabled]="!form.get('email')?.valid">
            <a href="/forget-page">Forgot email/password?</a>
          </ion-button>

          
        </ion-card-content>
      </ion-card>
    </form>
  </div>
</ion-content>
