<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Pickup call</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="https://www.google.com/maps/d/u/0/thumbnail?mid=1MI_lTFUwnxR4CAnTyzfG9uNzXVw" />
  <ion-card>
    <ion-card-content>
      <p>Address: Jalan Pemuda, 21</p>
      <p>Complement: Apto 222</p>
      <p>Neighborhood: neighborhood</p>
      <p>Zip code: 5476887</p>
      <p>City name - State</p>
    </ion-card-content>
  </ion-card>
  <ion-list>
    <ion-item lines="inset">
      <ion-label position="floating">Notes</ion-label>
      <ion-textarea></ion-textarea>
    </ion-item>
  </ion-list>
  <ion-button size="full" color="success" (click)="newPickupCall()">Create pickup call</ion-button>
</ion-content>